:root{
    --font-normal:"A2RecordGothic", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: "A2RecordGothicCon", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    scroll-behavior: smooth;
}
p{
    margin: 0;
    padding: 0;
}

/* header */
header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
    transition: 0.5s;
}
header.on{
    margin-top: -50px;
    transition: 0.5s;
    border-bottom: 1px solid #EDEDED;
}
header .top-menu{
    width: 31vw;
    font-size: 11px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 42px;
    top:7px;
    font-family: var(--font-normal);
}
header .top-menu .acc{
    margin-right: 10vw;
}
header .top-menu p{
    cursor: pointer;
    transition:1.2s;
}
header .top-menu p:hover{
    border-bottom: 1px solid #000;
    transition: 1.2s;
}
header .bottom-menu{
    top:0;
    background-color: #fff;
    padding: 20px 42px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:10px;
    position: relative;
}
header .bottom-menu .logo{
    color:#e82525;
    display: block;
    width: 130px;
    font-weight: 700;
    font-size: 23px;
    font-style: italic;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.05rem;
    grid-column: 1/3;
    margin-top: 5px;
}
header .bottom-menu .logo span{
    font-size: 9px;
    position: absolute;
    top:3px;
}
header .bottom-menu ul{
    width: 40vw;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    grid-column: 3/8;
    gap:5%;
    line-height: 1.7;
    font-size: 18px;
    margin-top: 5px;
}
header .bottom-menu ul li{
    cursor: pointer;
}
header .bottom-menu .search{
    width: 230px;
    height: 35px;
    border-radius: 5px;
    grid-column:9/11;
    cursor: pointer;
    transition: 0.5s;
    background-size: 100% 200%;
    background-color: #EDEDED;
    font-family: "A2RecordGothic", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}
header .bottom-menu .search:hover p {
    background: url(./assets/images/search-white.png) no-repeat 95% / 12px;
    transition: background-position 1s;
}

header .bottom-menu .search:hover {
    color:#fff;
    background-image: linear-gradient(to top, #000000 50%, #EDEDED 50%);
    background-position: 0 100%;
    transition: 0.5s;
}
header .bottom-menu .search p{
    font-size: 12px;
    line-height: 35px;
    font-weight: 500;
    margin-left: 10px;
    background: url(./assets/images/search.png) no-repeat 95% / 12px;
}
header .bottom-menu .cal{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #EDEDED;
    position: absolute;
    right: 90px;
    top:20px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
header .bottom-menu .cal:hover{
    background-color: #000;
    transition: 0.5s;
}
header .bottom-menu .cal p{
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    background:url(./assets/images/cal.png) no-repeat 50% / 16px;
}
header .bottom-menu .cal p:hover{
    background:url(./assets/images/cal-white.png) no-repeat 50% / 16px;
}
header .bottom-menu .bag{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #EDEDED;
    position: absolute;
    right: 42px;
    top:20px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
header .bottom-menu .bag:hover{
    background-color: #000;
    transition: 0.5s;
}
header .bottom-menu .bag p{
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    background:url(./assets/images/bag.png) no-repeat 50% / 16px;
}
header .bottom-menu .bag p:hover{
    background:url(./assets/images/bag-white.png) no-repeat 50% / 16px;
}
header .bottom-menu .bag .red{
    width: 18px;
    height: 18px;
    background-color: #e82525;
    position: absolute;
    border-radius: 50%;
    top:-5px;
    right: -3px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 10px;
    color: #fff;
}
.mobile-header{
    display: none;
}

/* main-banner */
.main-banner{
    padding: 0 14px;
}
.main-banner svg{
    width: 100%;
    margin-top: 15vh;
}
.main-banner .main-banner-wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-radius: 5px;
    background-color: #000;
    position: relative;
}
.main-banner .main-banner-wrapper .main-img{
    height: 100vh;
    background: url(./assets/images/4Q5A9296_f2c5f330-923f-42f2-8173-a6067608fb59.jpg) 100% / cover;
    opacity: 0.8;
}
.main-banner .main-banner-wrapper .our{
    color:#fff;
    position: absolute;
    top: 25px;
    left:25px;
    font-size: clamp(24px, 37/1400 * 100vw, 37px);
    font-weight: 600;
    letter-spacing: -1px;
}
.main-banner .main-banner-wrapper .bike1{
    width: 370px;
    background-color: #fff;
    position: absolute;
    top:13%;
    left:25px;
    height: 490px;
    border-radius: 1%;
    padding: 0 14px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
.main-banner .main-banner-wrapper .bike1:hover .view{
    transform: translateY(-100px);
    transition: 0.5s;
}
.main-banner .main-banner-wrapper .bike1:hover .compare{
    transform: translateY(-100px);
    transition: 0.5s;
}
.main-banner .main-banner-wrapper .bike1:hover .out-wrapper{
    transform: translateY(100px);
    transition: 0.5s;
}
.main-banner .main-banner-wrapper .bike1 .works{
    padding: 14px 0 0;
    font-size: clamp(18px, 20/1400 * 100vw, 20px);
    font-weight: 600;
}
.main-banner .main-banner-wrapper .bike1 .spec{
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.main-banner .main-banner-wrapper .bike1 img{
    width: 88%;
    display: block;
    margin: 27% auto 29%;
    aspect-ratio: 16/9;
}
.main-banner .main-banner-wrapper .bike1 .out-wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.main-banner .main-banner-wrapper .bike1 .out{
    width: 90px;
    height: 20px;
    border:1px solid #EDEDED;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    font-weight: 500;
}
.main-banner .main-banner-wrapper .bike1 .com{
    color:#858585;
    letter-spacing: 1px;
}
.main-banner .main-banner-wrapper .bike1 .trans-wrapper{
    display: flex;
    transform: translateY(50px);
    justify-content: space-between;
}
.main-banner .main-banner-wrapper .bike1 .view{
    background-color: #e82525;
    width: 48%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.main-banner .main-banner-wrapper .bike1 .view:hover{
    background-color: #000;
}

.main-banner .main-banner-wrapper .bike1 .compare{
    background-color: #EDEDED;
    width: 48%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius:50px;
}
.main-banner .main-banner-wrapper .bike1 .compare:hover{
    background-color: #000;
    color: #fff;
}

/* our products */
.our-wrapper{
    padding:42px;
}
.our-wrapper .h2{
    font-size: clamp(40px, 75/1400 * 100vw, 75px);
    font-weight:500;
    margin-top: 9%;
}
.our-wrapper .our-img-wrapper{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 15px;
}
.our-wrapper .our-img-wrapper li{
    width: 25%;
    height: 32vw;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.our-wrapper .our-img-wrapper .img1{
    width: 100%;
    height: 100%;
    aspect-ratio: 9/11;
    object-fit: cover;
}
.our-wrapper .our-img-wrapper p{
    font-size: clamp(16px, 24/1400 * 100vw, 24px);
    font-weight: 500;
    margin-top: 10px;
}
.our-wrapper .our-img-wrapper li:hover{
    width: 35%;
    transition: 0.5s;
}
.our-wrapper .our-img-wrapper li .flex-wrapper{
    display: flex;
}
.our-wrapper .our-img-wrapper li .flex-wrapper img{
    width: clamp(12px, 16/1400 * 100vw, 16px);
    height: clamp(12px, 16/1400 * 100vw, 16px);
    margin-top: clamp(14px, 16/1400 * 100vw, 17px);
    margin-left: 10px;
}

/* bestsellers */
.best-wrapper{
    padding:42px;
    overflow: hidden;
}
.best-wrapper .h2{
    font-size: clamp(40px, 75/1400 * 100vw, 75px);
    font-weight:500;
    margin-top: 9%;
}
.best-wrapper .best-flex{
    display: flex;
    gap:16px;
}
.best-wrapper .best-flex .button{
    margin-top: 9%;
    border: 1px solid #000;
    padding: 5px 16px;
    height:47px;
    box-sizing: border-box;
    display: grid;
    align-self: self-end;
    place-items: center;
    place-content: center;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.best-wrapper .best-flex .button.on{
    background-color: #000;
    color: #fff;
}
.best-wrapper .best-flex .button-sale{
    margin-left:24px;
}
.best-wrapper .best-flex .button p{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font-normal);
    font-weight: 500;
}
.best-wrapper .sale-wrapper{
    width: 270vw;
    height: 33vw;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 10px;
    position: relative;
}
.best-wrapper .sale-wrapper li{
    border-top:1px solid #000;
    border-right: 1px solid #000;
    cursor: pointer;
}
.best-wrapper .sale-wrapper li .data-flex{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.best-wrapper .sale-wrapper li img{
    width: 75%;
    display: block;
    margin: auto;
    padding: 25% 0;
}
.best-wrapper .sale-wrapper li .name{
    font-weight: 500;
    font-size: clamp(16px, 23/1400 * 100vw, 23px);
    letter-spacing: -1px;
    padding-top: 10px;
}
.best-wrapper .sale-wrapper li .price{
    padding-top: 10px;
    line-height: 1.5;
    font-size: clamp(12px, 16/1400 * 100vw, 16px);
    font-family: var(--font-normal);
}
.best-wrapper .sale-wrapper li .quality{
    font-size: clamp(15px, 15/1400 * 100vw, 15px);
    font-family: var(--font-normal);
}
.best-wrapper .sale-wrapper li .bprice{
    font-size: clamp(12px, 16/1400 * 100vw, 16px);
    font-family: var(--font-normal);
    color:#858585;
    text-decoration: line-through;
}
.best-wrapper .sale-wrapper li .con{
    border:1px solid #EDEDED;
    position: absolute;
    bottom: 24px;
    margin-left: 24px;
    padding: 7px 12px;
    border-radius: 20px;
    font-weight: 500;
    font-size: clamp(12px, 14/1400 * 100vw, 14px);
    transition: 0.2s;
}
.best-wrapper .sale-wrapper li:hover .con{
    transform: translateY(10px);
    transition: 0.2s;
}
.best-wrapper .sale-wrapper li:last-child{
    border-right: none;
}
.best-wrapper .sale-wrapper li:hover .product-flex{
    transform: translateY(0);
    transition: 0.2s;
}
.best-wrapper .sale-wrapper .product-flex{
    width: 90%;
    padding: 0 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 20px;
    transform: translateY(500px);
    transition: 0.2s;
}
.best-wrapper .sale-wrapper li .view{
    background-color: #e82525;
    width: 11vw;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.best-wrapper .sale-wrapper li .view:hover{
    background-color: #000;
}

.best-wrapper .sale-wrapper li .compare{
    background-color: #EDEDED;
    width: 11vw;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius:50px;
}
.best-wrapper .sale-wrapper li .compare:hover{
    background-color: #000;
    color: #fff;
}
.best-wrapper .sale-wrapper li:first-child .compare{
    display: none;
}
.best-wrapper .sale-wrapper li:first-child .view{
    width: 24vw;
}

.best-wrapper .new-wrapper{
    width: 270vw;
    height: 33vw;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 10px;
    position: relative;
    display: none;
}
.best-wrapper .new-wrapper li{
    border-top:1px solid #000;
    border-right: 1px solid #000;
    cursor: pointer;
}
.best-wrapper .new-wrapper li .data-flex{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.best-wrapper .new-wrapper li img{
    width: 75%;
    display: block;
    margin: auto;
    padding: 25% 0;
}
.best-wrapper .new-wrapper li:first-child img{
    padding: 3% 0;
}
.best-wrapper .new-wrapper li .name{
    font-weight: 500;
    font-size: clamp(16px, 23/1400 * 100vw, 23px);
    letter-spacing: -1px;
    padding-top: 10px;
}
.best-wrapper .new-wrapper li .price{
    padding-top: 10px;
    line-height: 1.5;
    font-size: clamp(12px, 16/1400 * 100vw, 16px);
    font-family: var(--font-normal);
}
.best-wrapper .new-wrapper li .quality{
    font-size: clamp(15px, 15/1400 * 100vw, 15px);
    font-family: var(--font-normal);
}
.best-wrapper .new-wrapper li .bprice{
    font-size: clamp(12px, 16/1400 * 100vw, 16px);
    font-family: var(--font-normal);
    color:#858585;
    text-decoration: line-through;
}
.best-wrapper .new-wrapper li .con{
    border:1px solid #EDEDED;
    position: absolute;
    bottom: 24px;
    margin-left: 24px;
    padding: 7px 12px;
    border-radius: 20px;
    font-weight: 500;
    font-size: clamp(12px, 14/1400 * 100vw, 14px);
    transition: 0.2s;
}
.best-wrapper .new-wrapper li:hover .con{
    transform: translateY(10px);
    transition: 0.2s;
}
.best-wrapper .new-wrapper li:last-child{
    border-right: none;
}
.best-wrapper .new-wrapper li:hover .product-flex{
    transform: translateY(0);
    transition: 0.2s;
}
.best-wrapper .new-wrapper .product-flex{
    width: 90%;
    padding: 0 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 20px;
    transform: translateY(500px);
    transition: 0.2s;
}
.best-wrapper .new-wrapper li .view{
    background-color: #e82525;
    width: 11vw;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.best-wrapper .new-wrapper li .view:hover{
    background-color: #000;
}

.best-wrapper .new-wrapper li .compare{
    background-color: #EDEDED;
    width: 11vw;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius:50px;
}
.best-wrapper .new-wrapper li .compare:hover{
    background-color: #000;
    color: #fff;
}
.best-wrapper .new-wrapper li:last-child .bprice{
    display: none;
}
.best-wrapper .new-wrapper li:last-child .con{
    text-transform: uppercase;
    border: 0;
    right: 10px;
    color: #858585;
    font-weight: 400;
    letter-spacing: 1px;
}
.best-wrapper .new-wrapper li:last-child:hover .con{
    transform: translateY(500px);
}


.best-wrapper .in-wrapper{
    width: 270vw;
    height: 33vw;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 10px;
    position: relative;
    display: none;
}
.best-wrapper .in-wrapper li{
    border-top:1px solid #000;
    border-right: 1px solid #000;
    cursor: pointer;
}
.best-wrapper .in-wrapper li .data-flex{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.best-wrapper .in-wrapper li img{
    width: 75%;
    display: block;
    margin: auto;
    padding: 25% 0;
}
.best-wrapper .in-wrapper li .name{
    font-weight: 500;
    font-size: clamp(16px, 23/1400 * 100vw, 23px);
    letter-spacing: -1px;
    padding-top: 10px;
}
.best-wrapper .in-wrapper li .price{
    padding-top: 10px;
    line-height: 1.5;
    font-size: clamp(12px, 16/1400 * 100vw, 16px);
    font-family: var(--font-normal);
}
.best-wrapper .in-wrapper li .quality{
    font-size: clamp(15px, 15/1400 * 100vw, 15px);
    font-family: var(--font-normal);
}
.best-wrapper .in-wrapper li .bprice{
    font-size: clamp(12px, 16/1400 * 100vw, 16px);
    font-family: var(--font-normal);
    color:#858585;
    text-decoration: line-through;
}
.best-wrapper .in-wrapper li .con{
    border:1px solid #EDEDED;
    position: absolute;
    bottom: 24px;
    margin-left: 24px;
    padding: 7px 12px;
    border-radius: 20px;
    font-weight: 500;
    font-size: clamp(12px, 14/1400 * 100vw, 14px);
    transition: 0.2s;
}
.best-wrapper .in-wrapper li:hover .con{
    transform: translateY(10px);
    transition: 0.2s;
}
.best-wrapper .in-wrapper li:last-child{
    border-right: none;
}
.best-wrapper .in-wrapper li:hover .product-flex{
    transform: translateY(0);
    transition: 0.2s;
}
.best-wrapper .in-wrapper .product-flex{
    width: 90%;
    padding: 0 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 20px;
    transform: translateY(500px);
    transition: 0.2s;
}
.best-wrapper .in-wrapper li .view{
    background-color: #e82525;
    width: 11vw;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.best-wrapper .in-wrapper li .view:hover{
    background-color: #000;
}

.best-wrapper .in-wrapper li .compare{
    background-color: #EDEDED;
    width: 11vw;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius:50px;
}
.best-wrapper .in-wrapper li .compare:hover{
    background-color: #000;
    color: #fff;
}
.best-wrapper .in-wrapper li:first-child .compare{
    display: none;
}
.best-wrapper .in-wrapper li:first-child .view{
    width: 24vw;
}
.best-wrapper .in-wrapper li:nth-child(2) .compare{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(2) .con{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(2) .view{
    width: 24vw;
}
.best-wrapper .in-wrapper li:nth-child(3) .compare{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(3) .view{
    width: 24vw;
}
.best-wrapper .in-wrapper li:nth-child(3) .con{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(4) .compare{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(4) .view{
    width: 24vw;
}
.best-wrapper .in-wrapper li:nth-child(4) .con{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(8) .compare{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(8) .view{
    width: 24vw;
}
.best-wrapper .in-wrapper li:nth-child(9) .compare{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(9) .view{
    width: 24vw;
}
.best-wrapper .in-wrapper li:nth-child(10) .compare{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(10) .view{
    width: 24vw;
}
.best-wrapper .in-wrapper li:nth-child(5) .con{
    text-transform: uppercase;
    border: 0;
    right: 10px;
    color: #858585;
    font-weight: 400;
    letter-spacing: 1px;
}
.best-wrapper .in-wrapper li:nth-child(6) .con{
    text-transform: uppercase;
    border: 0;
    right: 10px;
    color: #858585;
    font-weight: 400;
    letter-spacing: 1px;
}
.best-wrapper .in-wrapper li:nth-child(5):hover .con{
    transform: translateY(500px);
}
.best-wrapper .in-wrapper li:nth-child(6):hover .con{
    transform: translateY(500px);
}
.best-wrapper .in-wrapper li:last-child .bprice{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(2) .bprice{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(3) .bprice{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(4) .bprice{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(5) .bprice{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(6) .bprice{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(8) .bprice{
    display: none;
}
.best-wrapper .in-wrapper li:nth-child(9) .bprice{
    display: none;
}

/* experience */
.experience-wrapper{
    height: 100%;
    background: url(./assets/images/experience.jpg) 50% / cover;
    color: #fff;
    margin-top: 100px;
    overflow: hidden;
    padding: 42px;
}
.experience-wrapper .line{
    margin: auto;
    width: 100%;
    height:clamp(20px, 30/1400 * 100vw, 30px);
    background-color: #fff;
    border-radius: 4px;
}
.experience-wrapper .text-wrapper .text{
    font-weight: 500;
    font-size: clamp(80px, 220/1400 * 100vw, 220/1400 * 100vw);
    letter-spacing: -5px;
}
.experience-wrapper .text-wrapper p:first-child{
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.experience-wrapper .text-wrapper .text-right{
    font-size: 10px;
    position: absolute;
    width: 120px;
    font-weight: 500;
    font-family: var(--font-normal);
    letter-spacing:0;
}
.experience-wrapper .text-wrapper p:first-child .text-right{
    bottom: 20%;
    right: 15%;
}
.experience-wrapper .text-wrapper p:nth-child(2){
    position: relative;
    margin-top: -6%;
    left:10%;
}
.experience-wrapper .text-wrapper p:nth-child(2) .text-right{
    top:45%;
    width: 200px;
    right:8%;
}
.experience-wrapper .text-wrapper p:nth-child(3){
    position: relative;
    margin-top: -6%;
    left: 17%;
}
.experience-wrapper .text-wrapper p:nth-child(3) .text-right{
    position: absolute;
    left:-17%;
    bottom: 30%;
    width: 100px;
}
.experience-wrapper .text-wrapper2{
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}
.experience-wrapper .text-wrapper2 p{
    width: 200px;
    font-size: 18px;
}
.experience-wrapper .text-wrapper2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60%;
}
.experience-wrapper .text-wrapper2 ul li{
    width: 100%;
    border-top: 2px solid #fff;
    font-size: clamp(20px, 25/1400 * 100vw, 25px);
    font-weight: 500;
    margin-bottom: 1%;
    line-height: 1.5;
}
.experience-wrapper .text-wrapper2 ul li span{
    position: relative;
}
.experience-wrapper .text-wrapper2 ul li .content{
    margin-left: 15%;
}
.experience-wrapper .text-wrapper2 ul li .content::before{
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 2px;
    height: 30px;
    margin-right: 15%;

}

/* component */
.com-wrapper{
    display: flex;
    padding: 42px;
    margin-top: 8%;
    gap: 1%;
    cursor: pointer;
}
.com-wrapper .com-container{
    position: relative;
}
.com-wrapper .com-container img{
    width: 100%;
    aspect-ratio: 16/12;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 15px;
}
.com-wrapper .com-container .com-content1{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
.com-wrapper .com-container .com-content2{
    font-weight: 600;
    font-size: clamp(20px, 32/1400 * 100vw, 32px);
    margin-top: 5px;
    line-height: 1;
    letter-spacing: -1px;
    width: 40%;
}
.com-wrapper .com-container .explore{
    position: absolute;
    background-color: #fff;
    width:230px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    bottom: 20px;
    left: 20px;
    font-family: var(--font-normal);
}
.com-wrapper .com-container .explore p{
background: url(./assets/images/arrow.png) no-repeat 90% / 12px;
padding-left: 20px;
}
.com-wrapper .com-container:hover .explore{
    background-color: #e82525;
    color: #fff;
}
.com-wrapper .com-container:hover .explore p{
    background: url(./assets/images/arrow-white.png) no-repeat 90% / 12px;
}

/* hightlights */
.high-wrapper{
    margin-top:8%;
}
.main-banner .main-banner-wrapper .high-img{
    height: 100vh;
    background: url(./assets/images/high.jpg) 70% / cover;
    opacity: 0.8;
}
.main-banner .main-banner-wrapper .hel img{
    width: 60%;
    display: block;
    margin: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 20% auto 25%;
}
.main-banner .main-banner-wrapper .hel .view{
    width: 100%;
}
.main-banner .main-banner-wrapper .hel .trans-wrapper{
    transform: translateY(75px);
    cursor: pointer;
}

/* find */
.find-wrapper{
    width: 100%;
    margin: 7% auto 0;
}
.find-container{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    position: relative;
}
.find-wrapper .back-svg{
    width: 55%;
    height: 100%;
}
.find-wrapper .find1{
    position: absolute;
    width: 40%;
    height:79%;
    top:6.7vw;
    object-fit: cover;
}
.find-wrapper .h3{
    font-size: clamp(80px, 150/1400 * 100vw, 150/1400 * 100vw);
    font-weight: 500;
    position: absolute;
}
.find-wrapper span{
    position: absolute;
}
.find-wrapper .h3:nth-of-type(1){
    left: 42px;
}
.find-wrapper span:nth-of-type(1){
    top:3%;
    width: 100px;
    right: 17%;
}
.find-wrapper .h3:nth-of-type(2){
    left: 11%;
    top:14%;
}
.find-wrapper span:nth-of-type(2){
    top:20%;
    width: 150px;
    right: 42px;
}
.find-wrapper .h3:nth-of-type(3){
    right: 42px;
    top:30%;
}
.find-wrapper .line-svg-wrapper{
    position: absolute;
    top:30%;
    left: 10%;
    width: 25%;
}
.find-wrapper .line-svg{
    fill: none;
    stroke: #e82525;
    stroke-linecap: square;
    stroke-miterlimit:100;
    stroke-width: 23;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1000;
    animation: draw 4s linear infinite;
}
@keyframes draw {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
.find-wrapper span:nth-of-type(3){
    top:71%;
    width: 100px;
    left: 42px;
}
.find-wrapper span{
    font-family: var(--font-normal);
    font-size: 10px;
    font-weight: 400;
}
.find-wrapper .line{
    margin: auto;
    width: calc(100% - 84px);
    height:clamp(20px, 30/1400 * 100vw, 30px);
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    top:77%;
}
.find-wrapper .together{
    top:83%;
    left: 42px;
    font-size:clamp(24px, 37/1400 * 100vw, 37px);
    width: 266px;
    font-weight: 500;
    position: absolute;
    line-height: 1;
}
.find-wrapper .find-container2{
    display: flex;
    padding: 0 42px;
}
.find-wrapper .find-container2 .find-flex1{
    width: 50%;
    position: relative;
}
.find-wrapper .find-container2 .find-flex1 p{
    width: 300px;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    bottom:10px;
}
.find-wrapper .find-container2 .find-flex2{
    display: flex;
    width: 50%;
    margin-top: 4%;
    height: 30%;
    padding-bottom: 10px;
}
.find-wrapper .find-container2 .find-flex2 img{
    width: 310px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 13px;
}
.find-wrapper .find-container2 .find-flex2 .take-wrapper{
    margin-left: 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.find-wrapper .find-container2 .find-flex2 .take-wrapper p{
    font-weight: 500;
    font-size: 21px;
    width: 200px;
    line-height: 0.9;
}
.find-wrapper .find-container2 .find-flex2 .take-wrapper .button{
    width: 250px;
    height: 45px;
    background-color: #e82525;
    color: #fff;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.find-wrapper .find-container2 .find-flex2 .take-wrapper .button p{
    font-weight: 400;
    font-family: var(--font-normal);
    font-size: 16px;
}
.find-wrapper .find-container2 .line-middle{
    display: block;
    width: 2px;
    height: 240px;
    background-color: #000;
    margin-top: 50px;
}
.find-wrapper .line-bottom{
    width: calc(100% - 84px);
    background-color: #000;
    height: 2px;
    position: relative;
    bottom: 0;
    margin: auto;
}
/* unleash */
.unleash-wrapper{
    width: 100%;
}
.unleash-wrapper .line{
    width: calc(100% - 84px);
    height:clamp(20px, 30/1400 * 100vw, 30px);
    background-color: #000;
    border-radius: 4px;
    margin:14% auto 0;
}
.unleash-wrapper .unleash-container{
    padding: 0 42px;
    position: relative;
}
.unleash-wrapper .unleash-container span{
    font-size: clamp(45px, 140/1400 * 100vw, 140/1400 * 100vw);
    font-weight: 500;
    letter-spacing: -3px;
}
.unleash-wrapper .unleash-container .unleash-flex img{
    width: 15%;
    aspect-ratio: 16/8;
    object-fit: cover;
    margin-top: 18px;
}
.unleash-wrapper .unleash-container .unleash-flex .mar{
  margin-left: 1%;
}
.unleash-wrapper .unleash-container .unleash-flex .mar1{
    position:absolute ;
    right: 28vw;
    top:0;
}
.unleash-wrapper .unleash-container .unleash-flex .mar2{
    position:absolute ;
    right: 42px;
    top:0;
}
.unleash-wrapper .unleash-container .con2{
    position: relative;
    margin-top: -3%;
}
.unleash-wrapper .unleash-container .con2 .mar1{
    position: absolute;
    right: 45%;
}
.unleash-wrapper .unleash-container .con2 .mar2{
    position: absolute;
    right: 20%;
}
.unleash-wrapper .unleash-container .con2 .mar3{
    right: 0;
    position: absolute;
}
.unleash-wrapper .unleash-container2{
    display: flex;
    padding: 60px 42px;
}
.unleash-wrapper .unleash-container2 p{
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 1px;
}
.unleash-wrapper .unleash-container2 .button{
    width: 135px;
    height: 45px;
    background-color: #e82525;
    color: #fff;
    border-radius: 3px;
    margin-top: 30px;
    font-family: var(--font-normal);
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.unleash-wrapper .unleash-container2 .button p{
    font-size: 15px;
    font-weight: 500;
}
.unleash-wrapper .unleash-container2 .button:hover{
    background-color: #000;
    transition: 0.5s;
}
.unleash-wrapper .unleash-container2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20%;
    width: 60%;
    cursor: pointer;
}
.unleash-wrapper .unleash-container2 ul li{
    border-top: 1px solid #000;
    position: relative;
    transition: 0.2s;
}
.unleash-wrapper .unleash-container2 ul li .view{
    position: absolute;
    top: 36%;
    left: 3%;
    font-size: clamp(9px, 14/1400 * 100vw, 14px);
    font-weight: 500;
    display: none;
}
.unleash-wrapper .unleash-container2 ul li .con2{
    font-size: clamp(20px, 25/1400 * 100vw, 25px);
    font-weight: 500;
    line-height: 2.2;
    padding-left: 18%;
    background: url(./assets/images/arrow.png) no-repeat 30px / 12px;
}
.unleash-wrapper .unleash-container2 ul li:hover{
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    transition: 0.2s;
}
.unleash-wrapper .unleash-container2 ul li:hover .view{
    display: block;
}

/* feeling */
.feeling-wrapper{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding-top: 42px;
}
.feeling-wrapper .line{
    width: calc(100% - 84px);
    height:clamp(20px, 30/1400 * 100vw, 30px);
    background-color: #fff;
    border-radius: 4px;
    margin:0 auto 0;
}
.feeling-wrapper .feeling-container{
    padding: 0 42px;
    position: relative;
}
.feeling-wrapper .feeling-container span{
    font-size: clamp(45px, 140/1400 * 100vw, 140/1400 * 100vw);
    font-weight: 500;
    letter-spacing: -3px;
}
.feeling-wrapper .feeling-container .feeling-flex img{
    width: 15%;
    aspect-ratio: 16/8;
    object-fit: cover;
    margin-top: 18px;
}
.feeling-wrapper .feeling-container .feeling-flex .mar{
  margin-left: 1%;
}
.feeling-wrapper .feeling-container .feeling-flex .mar1{
    position:absolute ;
    right:42vw;
    top:0;
}
.feeling-wrapper .feeling-container .feeling-flex .mar2{
    position:absolute ;
    right: 42px;
    top:0;
}
.feeling-wrapper .feeling-container .feeling-flex .mar3{
    position:absolute ;
    right: 28.5vw;
    top:0;
}
.feeling-wrapper .feeling-container .con2{
    position: relative;
    margin-top: -3%;
}
.feeling-wrapper .feeling-container .con2 .mar1{
    position: absolute;
    right: 44%;
}
.feeling-wrapper .feeling-container .con2 .mar2{
    position: absolute;
    right: 24%;
}
.feeling-wrapper .feeling-container .con2 .mar3{
    right: 0;
    position: absolute;
}
.feeling-wrapper .feeling-container2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}
.feeling-wrapper .feeling-container2 .con2{
    font-size: 10px;
    font-family: var(--font-normal);
}
.feeling-wrapper .feeling-container2 .con2 span{
    font-size: 10px;
    font-family: var(--font-normal);
    letter-spacing: 0;
}
.feeling-wrapper .feeling-container2 .con1{
    font-size: clamp(80px, 100/1400 * 100vw, 100px);
    font-family: var(--font-normal);
}
.feeling-wrapper .feeling-container2 .experi{
    grid-column:1/5;
    grid-row: 1/3;
    width: 150px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.feeling-wrapper .feeling-container2 .logo-wrapper{
    display: grid;
    justify-content: center;
    place-items: center;
    padding-top: 70%;
    grid-column: 5/9;
    grid-row: 1/3;
}
.feeling-wrapper .feeling-container2 .logo-wrapper img{
    width: 25%;
    object-fit: contain;
}
.feeling-wrapper .feeling-container2 .logo-wrapper .logo-con{
    font-size: clamp(20px, 32/1400 * 100vw, 32px);
    font-weight: 800;
    font-style: italic;
    font-family: var(--font-normal);
}
.feeling-wrapper .feeling-container2 .num2{
    grid-column: 9/13;
    grid-row: 1/4;
    margin-top: 50%;
    padding-left: 35%;
}
.feeling-wrapper .feeling-container2 .num2 .margin{
    margin-left: 22%;
}
.feeling-wrapper .feeling-container2 .num90{
    width: 100%;
    grid-column: 1/5;
    grid-row: 3/6;
    padding-left: 35%;
    padding-top: 20%;
}
.feeling-wrapper .feeling-container2 .num10{
    grid-column: 5/9;
    grid-row: 4/7;
    padding-left: 30%;
}
.feeling-wrapper .feeling-container2 .life{
    grid-column: 9/13;
    grid-row: 2/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feeling-wrapper .feeling-container2 .shop{
    grid-column: 9/13;
    grid-row: 5/9;
    width: 150px;
    padding-left: 30%;
    padding-top: 20%;
}
.feeling-wrapper .feeling-container2 .modern{
    width: 280px;
    grid-column: 1/4;
    grid-row: 4/6;
    display: flex;
    align-items: end;
    padding-left: 15%;
}
.feeling-wrapper .feeling-container2 .shop .margin1{
    margin-left: 18%;
}
.feeling-wrapper .feeling-container2 .shop .margin2{
    margin-left: 18%;
}
.feeling-wrapper .feeling-container2 .num10 .in-margin{
    margin-left: 48%;
}

/* eamil */
.email-wrapper{
    background-color: #000;
    padding: 0 14px 3%;
}
.email-wrapper .email-container{
    background-color: #e82525;
    color: #fff;
    padding: 0 20px 3%;
    font-size: 10px;
    font-family: var(--font-normal);
    border-radius: 5px;
}
.email-wrapper .email-container .email-flex{
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}
.email-wrapper .email-container .email-flex .wheel-flex{
    display: flex;
}
.email-wrapper .email-container .email-flex .wheel-flex p{
    width: 45vw;
}
.email-wrapper .email-container .email-flex .wheel-flex img{
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
}
.email-wrapper .signup{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.email-wrapper .signup input{
background-color: #e82525;
border: none;
color: #ffb3b3;
text-transform: uppercase;
font-size:clamp(50px, 70/1400 * 100vw, 70px);
font-weight: 500;
width: 80%;
font-family:"A2RecordGothicCon", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}
.email-wrapper .signup button{
    background-color: #e82525;
    border: none;
    color: #fff;
    font-size:clamp(50px, 70/1400 * 100vw, 70px);
    font-family:"A2RecordGothicCon", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.email-wrapper .line{
    display: block;
    width: 100%;
    height: 15px;
    background-color: #fff;
    border-radius: 3px;
}

/* footer */

footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: #000;
    color: #fff;
    padding: 0 42px;
}
.con1{
    font-size: clamp(18px, 23/1400 * 100vw, 23px);
    font-weight: 500;
}
footer .shop{
    font-size: clamp(24px, 32/1400 * 100vw, 32px);
    font-weight: 600;
    border-bottom: 1px solid #858585;
    border-right: 1px solid #858585;
    cursor: pointer;
    transition: 0.5s;
}
footer .shop p{
    line-height: 1;
}
footer .shop .sh:hover{
    color: #858585;
    transition: 0.5s;
}
footer .shop .al:hover{
    color: #858585;
    transition: 0.5s;
}
footer .shop .se:hover{
    color: #858585;
    transition: 0.5s;
}
footer .blog{
    padding-left: 5%;
    border-bottom: 1px solid #858585;
    border-right: 1px solid #858585;
    padding-bottom: 13%;
}
footer .blog .con1{
    font-size: clamp(18px, 23/1400 * 100vw, 23px);
    font-weight: 500;
    padding-bottom: 40px;
    cursor:auto;
}
footer .blog p{
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
}
footer .about{
    padding-left: 5%;
    border-bottom: 1px solid #858585;
    border-right: 1px solid #858585;
}
footer .about .con1{
    font-size: clamp(18px, 23/1400 * 100vw, 23px);
    font-weight: 500;
    padding-bottom: 40px;
    cursor:auto;
}
footer .about p{
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
}
footer .support{
    padding-left: 5%;
    border-bottom: 1px solid #858585;
}
footer .support .con1{
    font-size: clamp(18px, 23/1400 * 100vw, 23px);
    font-weight: 500;
    padding-bottom: 40px;
    cursor:auto;
}
footer .support p{
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
}
footer .visit{
    padding-top: 10%;
    border-bottom: 1px solid #858585;
}
footer .visit .con1{
    font-size: clamp(18px, 23/1400 * 100vw, 23px);
    font-weight: 500;
    padding-bottom: 40px;
    cursor:auto;
}
footer .visit p{
    font-size: 19px;
    font-weight: 300;
}
footer .visit .button{
    font-family: var(--font-normal);
    font-weight: 400;
    border:1px solid #fff;
    text-align: center;
    width: 130px;
    padding: 10px 10px;
    font-size: clamp(10px, 16/1400 * 100vw, 16px);
    border-radius: 5px;
    margin-top: 8%;
    cursor: pointer;
}
footer .visit .button:hover{
    background-color: #fff;
    color: #000;
}
footer .closed{
    padding-top: 6%;
    padding-left: 5%;
    border-bottom: 1px solid #858585;
    border-right: 1px solid #858585;
}
footer .closed p{
    font-size: 19px;
    font-weight: 300;
}
footer .closed .we-button{
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #858585;
    width: 120px;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    margin-top: 20px;
    margin-bottom: 15%;
}
footer .closed .we-button::after{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #e82525;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -10px;
}
footer .closed .clock{
    display: flex;
    line-height: 2.5;
    cursor: pointer;
}
footer .discover{
    padding-top: 10%;
    padding-left: 5%;
    border-right: 1px solid #858585;
    border-bottom: 1px solid #858585;
}
footer .discover .con1{
    font-size: clamp(18px, 23/1400 * 100vw, 23px);
    font-weight: 500;
    padding-bottom: 40px;
    cursor:auto;
}
footer .discover .button{
    font-family: var(--font-normal);
    font-weight: 400;
    border:1px solid #fff;
    text-align: center;
    width: 200px;
    padding: 10px 10px;
    font-size: clamp(10px, 16/1400 * 100vw, 16px);
    border-radius: 5px;
    margin-top: 20%;
    cursor: pointer;
}footer .discover .button:hover{
    background-color: #fff;
    color: #000;
}
footer .contact{
    margin-top: 10%;
    padding-left: 5%;
    border-bottom: 1px solid #858585;
}
footer .contact .con1{
    font-size: clamp(18px, 23/1400 * 100vw, 23px);
    font-weight: 500;
    padding-bottom: 40px;
    cursor:auto;
}
footer .contact .button{
    font-family: var(--font-normal);
    font-weight: 400;
    border:1px solid #fff;
    text-align: center;
    width: 170px;
    padding: 10px 10px;
    font-size: clamp(10px, 16/1400 * 100vw, 16px);
    border-radius: 5px;
    margin-top: 20%;
    cursor: pointer;
}
footer .contact .button:hover{
    background-color: #fff;
    color: #000;
}
footer .deutsch{
    font-family: var(--font-normal);
    font-size: 13px;
    padding-top: 10%;
    cursor: pointer;
}
footer .icon-wrapper{
    padding-top: 10%;
    padding-left: 5%;
    cursor: pointer;
}
footer .icon-wrapper .facebook:hover{
    color: #e82525;
}
footer .icon-wrapper .instagram:hover{
    color: #e82525;
}
footer .icon-wrapper .instagram{
    margin-left: 3%;
}
footer .icon-wrapper .youtube:hover{
    color: #e82525;
}
footer .icon-wrapper .youtube{
    margin-left: 3%;
}
footer .imprint{
    font-size: 13px;
    font-family: var(--font-normal);
    padding-top: 10%;
    padding-left: 5%;
    line-height: 1.5;
    cursor: pointer;
}
footer .website{
    padding-top: 10%;
    padding-left: 5%;
    letter-spacing: 0.5px;
}
footer .website span{
    text-decoration: underline;
    cursor: pointer;
}
footer .website span:hover{
    text-decoration: none;
}

@media screen and (max-width: 1600px) {
    .com-wrapper .com-container .com-content2 {
        width: 50%;
    }
}

@media screen and (max-width: 1400px) {

    .find-wrapper .find-container2{
        display: block;
    }
    .find-wrapper .find-container2 .line-middle{
        display: none;
    }
    .find-wrapper .line-bottom{
        display: none;
    }
    .find-wrapper .find-container2 .find-flex1 p{
        position: relative;
        top:12vw;
    }
    .find-wrapper .find-container2 .find-flex2{
        margin-top: 14%;
    }
    .find-wrapper .find-container2 .find-flex2 img{
        margin-left: 0;
        width: 100%;
        aspect-ratio: 16/8;
    }
}

@media screen and (max-width:1200px) {
    footer{
        grid-template-rows:repeat(4,1fr);
    }
    footer .closed{
        grid-row: 3/4;
        grid-column: 1/3;
        display: block;
        padding: 5% 0 0;
    }
    footer .closed .we-button{
        margin-bottom: 5%;
    }
    footer .visit{
        grid-row: 2/3;
        grid-column: 1/3;
        border-bottom: none;
        border-right: 1px solid #858585;
        padding-top: 40px;
    }
    footer .discover{
        grid-row: 2/4;
        position: relative;
        padding-top: 40px;
    }
    footer .contact{
        grid-row: 2/4;
        position: relative;
        padding-top: 40px;
        margin-top: 0;
    }
    footer .discover .button{
        position: absolute;
        bottom: 10%;
    }
    footer .contact .button{
        position: absolute;
        bottom: 10%;
    }
    footer .visit .button{
        margin-top:5% ;
    }
    footer .deutsch{
        padding-top: 40px;
    }
    footer .icon-wrapper{
        padding-top: 40px;
    }
    footer .imprint{
        padding-top: 40px;
    }
    footer .website{
        padding-top: 40px;
    }
}

@media screen and (max-width:1000px) {
    header{
        display: none;
    }
    .mobile-header{
        width: 100%;
        position: fixed;
        top: 0;
        padding: 14px 10px;
        background-color: #fff;
        z-index: 9999;
        display: block;
    }
    .mobile-header .menu{
        position: absolute;
        top:35%;
    }
    .mobile-header .menu .menu1{
        width: 30px;
        height: 3px;
        background-color: #e82525;
    }
    .mobile-header .menu .menu2{
        width: 15px;
        height: 3px;
        background-color: #e82525;
    }
    .mobile-header .menu .mar{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .mobile-header .logo{
        color:#e82525;
        display: block;
        width: 130px;
        font-weight: 700;
        font-size: 20px;
        font-style: italic;
        text-decoration: none;
        position: relative;
        letter-spacing: 0.05rem;
        left: 50px;
    }
    .mobile-header .logo span{
        font-size: 9px;
        position: absolute;
        top:3px;
    }
    .mobile-header .search{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #EDEDED;
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
        top: 10px;
        right:140px;
    }
    .mobile-header .search p{
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        background: url(./assets/images/search.png) no-repeat 50% / 14px;
    }
    .mobile-header .cal{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #EDEDED;
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
        top: 10px;
        right: 85px;
    }
    .mobile-header .cal p{
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        background:url(./assets/images/cal.png) no-repeat 50% / 14px;
    }
    .mobile-header .bag{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #EDEDED;
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
        top: 10px;
        right: 30px;
    }
    .mobile-header .bag p{
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        background:url(./assets/images/bag.png) no-repeat 50% / 14px;
    }
    .mobile-header .bag .red{
        width: 18px;
        height: 18px;
        background-color: #e82525;
        position: absolute;
        border-radius: 50%;
        top:-5px;
        right: -3px;
        display: grid;
        justify-content: center;
        align-content: center;
        font-size: 10px;
        color: #fff;
    }
    .main-banner{
        padding: 0;
    }
    .main-banner svg{
        margin-top: 5vh;
    }
    .main-banner .main-banner-wrapper .main-img{
        width: 100%;
        aspect-ratio: 16/9;
        height: 55vw;
    }
    .main-banner .main-banner-wrapper{
        height: 55vw;
        width: 100%;
        position: relative;
        border-radius: 0;
    }
    .main-banner .main-banner-wrapper .bike1{
        height: 140px;
        position: absolute;
        top:68%;
    }
    .main-banner .main-banner-wrapper .bike1 img{
        width: 50%;
        margin: 0;
        margin-top: 5%;
        border:1px solid #EDEDED;
        border-radius: 5px;
    }
    .main-banner .main-banner-wrapper .bike1 .trans-wrapper{
        display: none;
    }
    .main-banner .main-banner-wrapper .bike1 .works{
        position: absolute;
        right: 0;
        width: 45%;
    }
    .main-banner .main-banner-wrapper .bike1 .spec{
        position: absolute;
        right: 29%;
        top:40%;
    }
    .main-banner .main-banner-wrapper .bike1 .out-wrapper{
        position: absolute;
        right: 15px;
        bottom: 20px;
    }
    .main-banner .main-banner-wrapper .bike1 .out-wrapper .out{
        display: none;
    }
    .main-banner .main-banner-wrapper .our{
        top:60%;
    }
    .main-banner .main-banner-wrapper .bike1:hover .out-wrapper{
        transform: none;
    }

    /* our */
    .our-wrapper{
        padding: 42px 10px;
    }

    /* best */
    .best-wrapper{
        padding: 42px 10px;
    }
    .best-wrapper .sale-wrapper{
        height: 50vw;
    }
    .best-wrapper .new-wrapper{
        height: 50vw;
    }
    .best-wrapper .in-wrapper{
        height: 50vw;
    }

    /* component */
    .com-wrapper{
        padding: 42px 10px;
    }

    /*  */
    .experience-wrapper{
        padding: 42px 10px;
    }

    /* hightlight */
    .main-banner .main-banner-wrapper .high-img{
        height: 55vw;
        background: url(./assets/images/high.jpg) 70% / cover;
        opacity: 0.8;
    }
    .main-banner .main-banner-wrapper .hel img{
        width: 28%;
    }
    .main-banner .main-banner-wrapper .hel .spec{
        top: 25%;
    }
    .main-banner .main-banner-wrapper .hel .trans-wrapper{
        transform: none;
    }

    /* find */
    .find-wrapper .back-svg{
        width: 80%;
    }
    .find-wrapper .find1{
        width: 60%;
        height: 86%;
    }
    .find-wrapper .h3:nth-of-type(1){
        left: 10px;
    }
    .find-wrapper .h3:nth-of-type(3){
        right: 10px;
    }
    .find-wrapper .h3:nth-of-type(2){
        left: 10%;
        margin-top: -30px;
    }
    .find-wrapper .line-svg-wrapper{
        top: 20%;
    }
    .find-wrapper span:nth-of-type(3){
        left: 10px;
    }
    .find-wrapper .line{
        width: calc(100% - 20px);
    }
    .find-wrapper .together{
        left: 10px;
    }
    .find-wrapper .find-container2{
        padding: 0 10px;
    }

    /* unleash */
    .unleash-wrapper .line{
        width: calc(100% - 20px);
    }
    .unleash-wrapper .unleash-container{
        padding: 0 10px; 
    }
    .unleash-wrapper .unleash-container2{
        padding: 60px 10px;
    }
    .unleash-wrapper .unleash-container .unleash-flex .mar2{
        right: 12px;
    }

    /* feeling */
    .feeling-wrapper .line{
        width: calc(100% - 20px);
    }
    .feeling-wrapper .feeling-container{
        padding: 0 10px;
    }
    .feeling-wrapper .feeling-container .feeling-flex .mar2{
        right: 12px;
    }

    /* footer */
    footer{
        padding:0 10px;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(6,1fr);
    }
    footer .visit .button{
        margin-top: 7%;
    }
    footer .shop{
        grid-column: 1/3;
        grid-row: 1/2;
        border-bottom: none;
        border-right: none;
        font-weight: 500;
        font-size: clamp(40px, 71 / 1400* 100vw, 71px);
        font-family: "A2RecordGothicCon", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    }
    footer .blog{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0;
        padding-bottom: 40px;
    }
    footer .about{
        grid-column: 2/3;
        grid-row: 2/3;
        border-right: none;
        padding-left: 12px;
    }
    footer .support{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
        padding-top: 40px;
        border-right: 1px solid #858585;
    }
    footer .icon-wrapper{
        grid-column: 2/3;
        grid-row: 3/4;
        border-bottom: 1px solid #858585;
        padding-left: 12px;
    }
    footer .visit{
        grid-column: 1/2;
        grid-row: 4/5;
        border-right: none;
        border-bottom: 1px solid #858585;
    }
    footer .closed{
        grid-column: 2/3;
        grid-row: 4/5;
        padding-left: 5%;
        border-right: none;
        padding-left: 12px;
    }
    footer .discover{
        grid-column: 1/2;
        grid-row: 5/6;
        padding: 0;
        padding-top: 40px;
    }
    footer .contact{
        grid-column: 2/3;
        grid-row: 5/6;
        padding-left: 12px;
    }
    footer .deutsch{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    footer .imprint{
        grid-column: 2/3;
        grid-row: 6/7;
        padding-left: 12px;
    }
    footer .website{
        padding: 0;
        padding-bottom: 100px;
    }
}